.{
    margin:0;
    padding:0;
    box size: border-box;
}
body{
    background-color:white;
    
}
main{
    width: 50%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
.top-content{
    background-color: rgba(12, 10, 10, 0.196);
    padding: 2em;
    width: 100%;
}
.top-content h3{
color:rgb(20, 236, 92);
font-size: 20px;
padding-bottom: 10px;
font-size: bold;
}
.top-content p.top{
    color:rgb(234, 250, 4);
    font-size: 20px;
    padding-bottom: 10px;
    font-size: bold;
    padding-bottom: 10px;
;
}
.buttom-content{
    display: flex;
}

.buttom-content .top-buttom{
    background-color: rgb(5, 133, 133);
    padding: 2em;
    font-weight: bold;

}
.buttom-content .second-buttom{
    background-color: rgb(11, 54, 54);
    padding: 2em;

}
